<form action="<%= action %>" method="post">
    <label for="name">Trainer Name:</label>
    <input type="text" name="name" id="name" />
    <label for="trainer-sprite">Select your Trainer Sprite:</label>
    <select
        name="sprite"
        id="trainer-sprite"
        onchange="document.getElementById('trainerSpriteImage').src = (this.options[this.selectedIndex].dataset.img ? '/assets/trainer-sprites/' + this.options[this.selectedIndex].dataset.img : '/assets/trainer-sprites/Spr_DP_Ace_Trainer_F_1.png');"
    >
        <% trainerSprites.forEach(s => { %>
        <option value="<%= s.id %>" data-img="<%= s.sprite %>">
            <%= s.name %>
        </option>
        <% }); %>
    </select>

    <img
        id="trainerSpriteImage"
        src="/assets/trainer-sprites/Spr_DP_Ace_Trainer_F_1.png"
        alt="Selected Sprite"
        style="display: block; width: 200px"
    />

    <h2>Select your Pokémon</h2>
    <datalist id="pokemonList">
        <option value="">--- None ---</option>
        <% pokemon.forEach(p => { %>
        <option value="<%= p.id %>"><%= p.name %></option>
        <% }); %>
    </datalist>

    <div class="pokemon-team">
        <% for (let i = 0; i < 6; i++) { %>
        <label for="pokemon<%= i+1 %>">Slot <%= i+1 %>:</label>
        <input
            list="pokemonList"
            name="pokemon<%= i+1 %>"
            id="pokemon<%= i+1 %>"
            onchange="const val = this.value;
                const img = document.getElementById('pokemonSprite<%= i+1 %>');
                const audio = document.getElementById('pokemonAudio<%= i+1 %>');
                const source = audio.querySelector('source');

                if (val != 0) {
                    img.src = pokemon[val-1].sprite;
                    source.src = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${val}.ogg`;
                    audio.load();
                    img.style =
                    'display: block; width: 150px; cursor: pointer;';
                } else {
                    img.style.display = 'none'; source.src = '';
                    audio.load();
                }
            "
        />
        <br />

        <img
            id="pokemonSprite<%= i+1 %>"
            src=""
            alt="Selected Pokémon"
            onclick="const pokemonAudio = document.getElementById('pokemonAudio<%= i+1 %>'); pokemonAudio.volume = 0.5; pokemonAudio.play();"
            style="display: none"
        />
        <audio id="pokemonAudio<%= i+1 %>">
            <source src="" type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
        <% } %>
    </div>
    <button type="submit">Submit</button>
</form>

<script>
    const pokemon = <%- JSON.stringify(pokemon) %>;
</script>
