<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/create" method="post">
            <label for="name">Trainer Name:</label>
            <input type="text" name="name" id="name" />
            <label for="trainer-sprite">Select your Trainer Sprite:</label>
            <select
                name="sprite"
                id="trainer-sprite"
                onchange="document.getElementById('trainerSpriteImage').src = '/assets/trainer_sprites/' + this.options[this.selectedIndex].dataset.img || '/assets/trainer_sprites/Spr_DP_Ace_Trainer_F_1.png';"
            >
                <% trainerSprites.forEach(s => { %>
                <option
                    value="<%= s.id %>"
                    data-img="<%= s.sprite %>"
                >
                    <%= s.name %>
                </option>
                <% }) %>
            </select>

            <img
                id="trainerSpriteImage"
                src="/assets/trainer_sprites/Spr_DP_Ace_Trainer_F_1.png"
                alt="Selected Sprite"
                style="display: block; width: 200px"
            />

            <h2>Select your Pokémon</h2>
            <div class="pokemon-team">
                <% for (let i = 0; i < 6; i++) { %>
                <label for="pokemon<%= i+1 %>">Slot <%= i+1 %>:</label>
                <select
                    name="pokemon<%= i+1 %>"
                    id="pokemon<%= i+1 %>"
                    onchange="const img = document.getElementById('pokemonSprite<%= i+1 %>'); img.src = this.options[this.selectedIndex].dataset.img || ''; img.style.display = this.value ? 'block' : 'none';"
                >
                    <option value="">--- None ---</option>
                    <% pokemon.forEach(p => { %>
                    <option value="<%= p.id %>" data-img="<%= p.sprite %>">
                        <%= p.id %> - <%= p.name %>
                    </option>
                    <% }); %>
                </select>

                <img
                    id="pokemonSprite<%= i+1 %>"
                    src=""
                    alt="Selected Pokémon"
                    style="display: none; width: 100px"
                />
                <% } %>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
